<app-project-list> </app-project-list>

<!-------
This is code for sidebar menu


<div class="container-fluid zeroDivStyle">
    <div class="row zeroDivStyle">
        <div class="col-sm-2 zeroDivStyle">
            <div class="container-fluid leftSideBarStyle">
                <ul>
                    <li>
                        List my Projects
                    </li>
                    <li>
                        Add a new Projects
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 zeroDivStyle">
            <div class="container-fluid dashboardStyle">
                Here are the list of my projects
            </div>
        </div>
    </div>
</div>

-->
